header {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  width: 80%;
  background-color: red;
}

ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul > li + li {
  margin-left: 0px;
  padding-left: 10px;
  border-left: 1px solid #bbb;
}
